.card:hover {
  box-shadow: inset 0px 0px 11px 2px rgb(61 129 185 / 92%);
}

.card_link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  color: gray;
  text-decoration: none;
  flex: 1;
}

.card__img {
  width: 100%;
  height: 150px;
  object-fit: contain;
  display: block;
}

.card__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card__price {
  margin-top: auto;
}