.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 20;
  padding: 18px 0;
  background: #475569;
  width: 100%;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 25px;
  flex-wrap: wrap;

  @media (max-width: 626px) {
    row-gap: 25px;
  }
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;

  @media (max-width: 768px) {
    order: 1;
  }
}

.nav a {
  text-decoration: none;
}

.home-link {
  color: var(--header-text-link-color);
}

.home-link:hover {
  color: var(--header-text-link-color-hover);
}

.cart-link {
  position: relative;

  svg {
    color: var(--header-text-link-color);
  }
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -8px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  background-color: var(--header-cart-count-background-color);
  color: var(--header-text-link-color);
  font-size: 10px;
}

.cart-link:hover svg {
  color: var(--header-text-link-color-hover);
}

.cart-link:hover .cart-count {
  color: var(--header-text-link-color-hover);
  background-color: var(--header-cart-count-background-color-hover);
}
