.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 20;
  gap: 16px;
  padding: 18px 0;

  background: #475569;
  width: 100%;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 25px;
  flex-wrap: wrap;

  @media (max-width: 626px) {
    row-gap: 25px;
  }
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;

  @media (max-width: 768px) {
    order: 1;
  }
}

.nav a {
  color: white;
  text-decoration: none;
}

.cart-link {
  position: relative;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -8px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  background-color: rgb(53 165 224 / 70%);
  color: white;
  font-size: 10px;
  font-weight: 600;
}

.header-actions {
  order: 2;
  display: flex;
  justify-content: flex-end;
  @media (max-width: 768px) {
    order: 2;
  }
}
